body{
  background-color: rgb(0, 0, 0);
}
h1{
  color: #ffffff;
}
h2{
  color: #ffffff;
}
h3{
  color: #ffffff;
}
.p1{
  color: #ffffff;
}
.p2{
  color: #ffffff;
}
.p3{
  color: #ffffff;
}
.p4{
  color: #ffffff;
}
.p5{
  color: #ffffff;
}
.p6{
  color: #ffffff;
}